.questionBlock, .commentBlock, .replyBlock{
    margin-top: 200px;
    position: fixed;
    z-index:10000;
    margin-left:10%;
    width:488px;
    height:146px;
    display:none;
    background:white;
    border:1px solid #8590a6;
    border-radius:10px;
}

.question-content{
    width: 100%;
    height: 110px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.question-button{
    text-align:center;
    width: 55px;
    height: 33px;
    color: white;
    background: #056de8;
    border-radius: 5px;
    display: inline-flex;
}

.eptquestion{
    margin-left: 20px;
    display:none;
    color:red;
    font-size:12px;
    font-weight:normal;
}

